<?xml version='1.0' encoding='utf-8'?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android"   
    id="cordova-plugin-pch-bugly" 
    version="1.0.0">
    <name>Bugly</name>
    <description>Cordova Plugin Bugly</description>
    <keywords>cordova,bugly</keywords>
    <repo>https://github.com/pchliang/cordova-plugin-pch-bugly</repo>
    <issue>https://github.com/pchliang/cordova-plugin-pch-bugly/issues</issue>
    
    <js-module name="bugly" src="www/bugly.js">
      <clobbers target="cordova.plugins.bugly" />
    </js-module>
    
    <platform name="android">
      <config-file target="res/xml/config.xml" parent="/*">
          <feature name="Bugly">
              <param name="android-package" value="com.pch.plugin.Bugly"/>
          </feature>
      </config-file>
      <config-file target="AndroidManifest.xml" parent="/*">
          <uses-permission android:name="android.permission.INTERNET" />
          <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
          <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
          <uses-permission android:name="android.permission.READ_PHONE_STATE" />
          <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
      </config-file>
      <source-file src="src/android/Bugly.java" target-dir="src/com/pch/plugin"/>
      <lib-file src="src/android/libs/bugly-4.1.9.2.aar"/>
      <framework src="src/android/Bugly.gradle" custom="true" type="gradleReference"/>
    </platform>
</plugin>
